/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Roboto:wght@300;400;700&display=swap');
*{
  box-sizing: border-box;
}
.App {
  min-height: 100vh;
}
body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3 {
  font-family: 'Arvo', serif;
  font-weight: 700;
  text-align: center;
}
h1 {
  font-size: 2.5rem;
}
h2 { 
  font-size: 1.8rem;
}

main {
  margin: 0 auto;
  margin-top: 90px;
  max-width: 95vw;
  min-height: 65vh;
}
a {
  list-style: none;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: orange; 
}
#menu-appbar .MuiMenu-paper {
  margin-top: 40px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
#menu-appbar .MuiTypography-body1{
  font-size: 1.1rem !important;
  margin: 5px !important;
}
.select-multiple-menu {
  margin: 5px 20px !important;
}
.MuiMenu-list {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.border-box {
    border: 1px solid #C4C4C4;
    border-radius: 8px;
    padding: 20px 20px 30px;
    margin: 20px 0;
}
.border-list-card { 
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  padding: 5px;
}
.MuiStepLabel-label {
  font-size: 1.2rem !important;
  font-weight: 400 !important;
}
.sidebar { 
  margin-top: 20px;
}
@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}